body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
header {
  max-width: 69.188rem;
  margin: 3% auto 0;
}
header nav {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  grid-gap: 3%;
  gap: 3%;
  position: relative;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}
.Header_subMenu__1rQc7 ul {
  display: -webkit-flex;
  display: flex;
  list-style: none;
  grid-gap: 15%;
  gap: 15%;
}
.Header_subMenu__1rQc7 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex: 1 1;
  flex: 1 1;
  transition: all 3000 ease-in-out;
}
.Header_humburger__1uFXT {
  display: none;
}
h1 {
  font-size: 4.688rem;
  font-weight: 700;
  color: var(--VeryDViolet);
  line-height: 5.6rem;
}
p {
  font-size: 1.375rem;
  font-weight: 500;
}
li a,
p {
  color: var(--Gray);
}
li a {
  text-decoration: none;
  font-size: 0.938rem;
  font-weight: 700;
}
li a:hover {
  color: #000;
}
.Header_buttons__3CLPn {
  display: -webkit-flex;
  display: flex;
  grid-gap: 10%;
  gap: 10%;
}
.Header_login__33P7r {
  border: none;
  border-radius: none;
  font-size: 0.938rem;
  font-weight: 700;
  color: var(--Gray);
  background-color: inherit;
  cursor: pointer;
}
.Header_login__33P7r:active {
  color: var(--Cyan);
}
.Header_getStarted__1EZPh,
.Header_signUp__2bWLP {
  font-size: 0.938rem;
  font-weight: 700;
  color: #fff;
  border: none;
  background-color: var(--Cyan);
  border-radius: 2rem;
  width: 6.563rem;
  height: 2.5rem;
  cursor: pointer;
}
.Header_getStarted__1EZPh:active,
.Header_signUp__2bWLP:active {
  background-color: #86dfdf;
}
.Header_getStarted__1EZPh {
  width: 8.563rem;
}
.Header_content__3iaH8 {
  display: -webkit-flex;
  display: flex;
  margin-top: 7%;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.Header_text__2U4Jc {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  max-width: 55%;
  grid-gap: 5%;
  gap: 5%;
}
.Header_imageHolder__1MJaK {
  min-width: 45%;
  position: relative;
  overflow: hidden;
}
.Header_image__2ZntI {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1200px) {
  .Header_content__3iaH8 {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .Header_content__3iaH8,
  .Header_text__2U4Jc {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .Header_text__2U4Jc {
    max-width: 80%;
    text-align: center;
    grid-gap: 2em;
    gap: 2em;
  }
  .Header_imageHolder__1MJaK {
    -webkit-transform: none;
    transform: none;
    -webkit-align-self: center;
    align-self: center;
  }
  .Header_image__2ZntI {
    max-width: 100%;
    height: auto;
    -webkit-transform: none;
    transform: none;
  }
}
@media screen and (max-width: 650px) {
  header {
    max-width: 95%;
    margin: 3% auto 0;
  }
  h1 {
    font-size: 2.2rem;
    line-height: 2.5rem;
  }
  p {
    font-size: 0.9rem;
  }
  .Header_text__2U4Jc {
    grid-gap: 1rem;
    gap: 1rem;
    max-width: 100%;
  }
  .Header_humburger__1uFXT {
    display: block;
    width: 2rem;
    height: 1.7rem;
    position: fixed;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
    right: 5%;
    z-index: 50;
  }
  .Header_logo__3LwEJ {
    position: absolute;
  }
  .Header_humburgerElem__2qPtI {
    width: 100%;
    height: 3px;
    background-color: var(--Gray);
    display: block;
    position: absolute;
    top: 45%;
    opacity: 1;
  }
  .Header_move__3uwTX {
    opacity: 0;
  }
  .Header_humburger__1uFXT.Header_rotate__3s5WP:before {
    -webkit-transform: rotate(45deg) translateY(19px);
    transform: rotate(45deg) translateY(19px);
  }
  .Header_humburger__1uFXT.Header_rotate__3s5WP:after {
    -webkit-transform: rotate(315deg) translateY(-20px);
    transform: rotate(315deg) translateY(-20px);
  }
  .Header_humburger__1uFXT:after,
  .Header_humburger__1uFXT:before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--Gray);
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .Header_humburger__1uFXT:before {
    top: 0;
  }
  .Header_humburger__1uFXT:after {
    bottom: 0;
  }
  .Header_subMenu__1rQc7 {
    position: fixed;
    width: 90%;
    height: 50vh;
    -webkit-transform: translate(5%, -158%);
    transform: translate(5%, -158%);
    overflow: auto;
    z-index: 5;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    background-color: var(--DViolet);
    border-radius: 1rem;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  }
  .Header_buttons__3CLPn,
  .Header_subMenu__1rQc7,
  ul {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .Header_buttons__3CLPn,
  ul {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    gap: 1rem;
  }
  .Header_subMenu__1rQc7 ul:after {
    content: "";
    width: 85%;
    height: 1px;
    background-color: var(--Gray);
    bottom: 45%;
    position: absolute;
  }
  .Header_signUp__2bWLP {
    width: 60%;
  }
  .Header_imageHolder__1MJaK {
    min-width: 100%;
    overflow: hidden;
  }
  .Header_show__3nVUo {
    -webkit-transform: translate(5%, 58%);
    transform: translate(5%, 58%);
  }
}
section {
  background: #f0f2f7;
}
main {
  max-width: 69.188rem;
  margin: 12% auto 0;
}
h2 {
  font-size: 2.438rem;
}
h2,
h3 {
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
}
.Main_cardContainer__1UOdt p {
  font-weight: lighter;
  font-size: 1.1rem;
  margin: 4% auto;
}
.Main_text__2JiVu p {
  width: 60%;
  margin-bottom: 1.5em;
}
.Main_btn__ueAfY {
  font-size: 0.938rem;
  font-weight: 700;
  color: #fff;
  border: none;
  background-color: var(--Cyan);
  border-radius: 0.7rem;
  width: 6.563rem;
  height: 2.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.Main_copied__2iJ7q {
  background-color: var(--DViolet);
}
.Main_btn__ueAfY:active {
  background-color: #86dfdf;
}
.Main_text__2JiVu {
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
}
.Main_form__2L8RX,
.Main_text__2JiVu {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.Main_form__2L8RX {
  min-height: 7em;
  align-self: center;
  grid-gap: 1.8%;
  gap: 1.8%;
  background: url(/Frontendmentor/url-shortening-api-master/static/media/bg-shorten-desktop.0d9742f4.svg),
    var(--DViolet);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translateY(-45%);
  transform: translateY(-45%);
  border-radius: 0.5rem;
}
main ul {
  -webkit-flex-direction: column;
  flex-direction: column;
  list-style: none;
}
main ul,
main ul li {
  display: -webkit-flex;
  display: flex;
}
main ul li {
  padding: 0 1em;
  height: 4em;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  grid-gap: 2%;
  gap: 2%;
  background-color: #fff;
  border-radius: 0.5rem;
  margin-bottom: 2%;
}
.Main_fisrt__31j1f,
input {
  -webkit-flex: 1 1;
  flex: 1 1;
}
input {
  max-width: 80%;
  height: 2.5rem;
  position: relative;
  transition: color 0.2s ease-in;
}
.Main_warning__3J4mQ {
  color: red;
  position: absolute;
  font-size: 1rem;
  left: 4.5%;
  bottom: 12%;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.Main_error__1fmhR {
  outline-color: red;
  border-color: red;
  opacity: 1;
}
.Main_card__3N6jf {
  display: -webkit-flex;
  display: flex;
  position: relative;
}
.Main_card__3N6jf div:first-child {
  -webkit-transform: translateY(-20%);
  transform: translateY(-20%);
}
.Main_line__1sCq2 {
  display: block;
  -webkit-transform: translate(50%, -2400%);
  transform: translate(50%, -2400%);
  max-width: 35em;
  min-height: 0.5em;
  background-color: var(--Cyan);
  position: static;
}
.Main_card__3N6jf div:last-child {
  -webkit-transform: translateY(20%);
  transform: translateY(20%);
}
.Main_cardContainer__1UOdt {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  background: #fff;
  margin: 8% auto;
  padding: 0 3%;
  max-width: 31%;
  border-radius: 1rem;
  position: relative;
  z-index: 2;
}
.Main_card__3N6jf img {
  width: 20%;
  background: var(--DViolet);
  border: 0.5em solid var(--DViolet);
  border-radius: 50%;
  -webkit-transform: translate(20%, -50%);
  transform: translate(20%, -50%);
}
@media screen and (max-width: 1200px) {
  .Main_card__3N6jf {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .Main_card__3N6jf div:first-child,
  .Main_card__3N6jf div:last-child {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .Main_cardContainer__1UOdt {
    margin: 5% auto;
    max-width: 45%;
  }
  .Main_line__1sCq2 {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  main {
    max-width: 100%;
    margin: 25% auto 0;
  }
  .Main_form__2L8RX {
    margin: 0 auto;
    width: 95%;
    min-height: 7em;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-self: center;
    grid-gap: 1em;
    gap: 1em;
    background: url(/Frontendmentor/url-shortening-api-master/static/media/bg-shorten-mobile.41c34b33.svg),
      var(--DViolet);
    background-repeat: no-repeat;
    background-size: cover;
  }
  input {
    -webkit-flex: 0 1;
    flex: 0 1;
    min-width: 90%;
    min-height: 3rem;
  }
  .Main_warning__3J4mQ {
    bottom: 0;
    -webkit-transform: translateY(90%);
    transform: translateY(90%);
  }
  .Main_btn__ueAfY {
    width: 85%;
    min-height: 2rem;
  }
  main ul,
  main ul li {
    height: auto;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  main ul li {
    padding: 0.5em;
    width: 95%;
    grid-gap: 0.3em;
    gap: 0.3em;
  }
  .Main_fisrt__31j1f,
  main ul li {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .Main_fisrt__31j1f {
    height: auto;
    width: 99%;
    overflow-wrap: break-word;
  }
  .Main_card__3N6jf,
  .Main_cardContainer__1UOdt,
  .Main_text__2JiVu,
  .Main_text__2JiVu p {
    min-width: 95%;
  }
}
footer {
  background-color: #000;
}
.Footer_promo__dlRbU h2,
footer {
  color: #fff;
}
.Footer_footer_nav__gz7ZW ul {
  list-style: none;
}
.Footer_footer_nav__gz7ZW h4 {
  margin-bottom: 10%;
}
.Footer_footer_nav__gz7ZW li {
  margin-bottom: 5%;
  color: var(--Gray);
  cursor: pointer;
}
.Footer_footer_nav__gz7ZW li:hover {
  color: var(--Cyan);
}
.Footer_btn__I33VW {
  font-size: 0.938rem;
  font-weight: 700;
  color: #fff;
  border: none;
  background-color: var(--Cyan);
  border-radius: 0.7rem;
  width: 6.563rem;
  height: 2.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.Footer_btn__I33VW:active {
  background-color: #86dfdf;
}
button a {
  text-decoration: none;
  color: #fff;
  font-size: 0.938rem;
  font-weight: 700;
}
.Footer_promo__dlRbU {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  min-height: 12em;
  grid-gap: 1em;
  gap: 1em;
  background: url(/Frontendmentor/url-shortening-api-master/static/media/bg-boost-desktop.772154c9.svg),
    var(--DViolet);
  background-repeat: no-repeat;
  background-size: cover;
}
.Footer_promo__dlRbU button {
  border-radius: 2rem;
  min-width: 12%;
}
.Footer_wrapper__3rTZr {
  max-width: 69.188rem;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center;
  grid-gap: 2%;
  gap: 2%;
  background-color: #000;
  padding: 4% 0;
}
.Footer_logoHolder__uWH3S {
  -webkit-flex: 1 1;
  flex: 1 1;
  position: relative;
}
.Footer_logo__2HtNO {
  -webkit-filter: invert(100%) sepia(5%) saturate(7455%) hue-rotate(169deg)
    brightness(124%) contrast(96%);
  filter: invert(100%) sepia(5%) saturate(7455%) hue-rotate(169deg)
    brightness(124%) contrast(96%);
}
.Footer_footer_nav__gz7ZW {
  text-align: start;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  grid-gap: 10%;
  gap: 10%;
  -webkit-flex: 2 1;
  flex: 2 1;
}
.Footer_footer_nav__gz7ZW,
.Footer_social__2teYx {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.Footer_social__2teYx {
  grid-gap: 5%;
  gap: 5%;
  -webkit-flex: 1 1;
  flex: 1 1;
}
.Footer_social__2teYx img:hover {
  -webkit-filter: invert(60%) sepia(73%) saturate(441%) hue-rotate(131deg)
    brightness(165%) contrast(88%);
  filter: invert(60%) sepia(73%) saturate(441%) hue-rotate(131deg)
    brightness(165%) contrast(88%);
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .Footer_wrapper__3rTZr {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    grid-gap: 3em;
    gap: 3em;
  }
  .Footer_social__2teYx {
    grid-gap: 30%;
    gap: 30%;
  }
}
@media screen and (max-width: 650px) {
  .Footer_promo__dlRbU {
    min-width: 95%;
    background: url(/Frontendmentor/url-shortening-api-master/static/media/bg-boost-mobile.4b04bd89.svg),
      var(--DViolet);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .Footer_promo__dlRbU h2 {
    font-size: 1.7rem;
  }
  .Footer_wrapper__3rTZr {
    grid-gap: 1em;
    gap: 1em;
  }
  .Footer_footer_nav__gz7ZW {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    grid-gap: 1em;
    gap: 1em;
  }
  .Footer_social__2teYx {
    grid-gap: 15%;
    gap: 15%;
    margin-bottom: 1.3em;
  }
  .Footer_logoHolder__uWH3S {
    margin-top: 1.3em;
  }
}
*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
}
:root {
  --Gray: #bfbfbf;
  --Cyan: #2acfcf;
  --DViolet: #3b3054;
  --GViolet: #9e9aa7;
  --VeryDViolet: #232127;
  --Red: #f46262;
  --VeryDBlue: #35323e;
}
a,
button,
div,
input,
select,
textarea {
  -webkit-tap-highlight-color: transparent;
}
body::-webkit-scrollbar {
  width: 0.2em;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: #2acfcf;
  background-color: var(--Cyan);
}
@media screen and (min-width: 650px) {
  body {
    overflow: inherit !important;
  }
}
/*# sourceMappingURL=main.e7e4a6c7.chunk.css.map */
